.footer ul{
    list-style: none;
    text-decoration: none;
}
.footer ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.822);
    font-weight: 500;
    transition: all .2s;
}
.footer ul li a:hover{
    color: #000000;
    font-weight: 700;
}